.champion-picker {
  height: 100%;
  width: 100%;
  flex-direction: column;
  position: relative;
}
.section {
  position: absolute;
}

.champion-picker__mid-section {
  width: 100%;
  height: 71.5%;
  top: 17%;
}
