.champion-picker {
  // main styles applied in ChampionSelect/ChampionSelect.scss
  &__top-section {
    position: absolute;

    width: 100%;
    height: var(--top-section-height);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: var(--main-font-color);
  }

  &__mid-section {
    position: absolute;

    width: 100%;
    height: 71.5%;

    top: var(--top-section-height);
  }

  &__bottom-section {
    position: absolute;

    width: 100%;
    height: 10%;

    bottom: 0%;
  }
}
