.bottom-section--edit-runes {
  width: 2.75vw;
  height: 2.75vw;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 0.125vw solid gold;
}

.bottom-section--edit-runes > i {
  font-size: 1vw;
  color: var(--background-gold);
  cursor: pointer;
}

.bottom-section--choose-runes {
  width: 15vw;
  height: 2.75vw;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--champion-picker-color);
  font-size: 24px;

  border: 0.125vw solid gold;
}
