.toggle-switch {
  position: relative;

  width: 2.5vw;
  height: 1.4vw;

  display: inline-block;

  margin: 0.25vw 0.75vw;
}

.toggle-switch input {
  width: 0;
  height: 0;

  opacity: 0;
}

.toggle-switch__slider {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #ccc;

  border-radius: 50px;

  cursor: pointer;
}

.toggle-switch__slider::before {
  content: '';

  position: absolute;

  left: 0.17vw;
  bottom: 0.17vw;

  height: 1.08vw;
  width: 1.08vw;

  background-color: red;

  border-radius: 50px;

  transition: 0.3s;

  will-change: background-color, transform;
}

input:checked + .toggle-switch__slider::before {
  transform: translate(1.08vw);
  background: green;
}
