.toggle-switch {
  position: relative;

  width: 60px;
  height: 34px;

  display: inline-block;

  margin: 1vw;
}

.toggle-switch input {
  width: 0;
  height: 0;

  opacity: 0;
}

.toggle-switch__slider {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #ccc;

  border-radius: 50px;

  cursor: pointer;
}

.toggle-switch__slider::before {
  content: '';

  position: absolute;

  left: 4px;
  bottom: 4px;

  height: 26px;
  width: 26px;

  background-color: red;

  border-radius: 50px;

  transition: 0.3s;

  will-change: background-color, transform;
}

input:checked + .toggle-switch__slider::before {
  transform: translate(26px);
  background: green;
}
