.crashed-game {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: black;
  font-size: 40px;
  font-family: 'Timeless';
  color: white;
}
