.champion-select {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background: url('../../Assets/Background.jpg') center center;
  background-size: cover;

  text-align: center;
  font-family: 'Average-Sans', 'Timeless', Arial, Helvetica, sans-serif;
}

.champion-select::after {
  display: block;

  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: black;
  opacity: 0.62;
}

.team {
  position: relative;

  width: var(--team-width);
  height: 100%;

  z-index: 1;
}

.champion-picker {
  position: relative;

  width: var(--champion-select-width);
  height: 100%;

  z-index: 1;
}

.locked-app {
  pointer-events: none;
}
