.form-field {
  position: relative;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  margin-left: 2vw;
}

.form-field--question {
}

.form-field--input {
  height: 1.4vw;
  width: 2.5vw;

  margin-top: 0.5vw;

  font-size: 20px;
  text-align: center;
}

.form-field--input::-webkit-outer-spin-button,
.form-field--input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-field > .toggle-switch-wrapper {
  margin-top: 0.5vw;
  display: flex;
  align-items: center;
}

.form-field > .form-field {
  position: absolute;
  top: 0;
  right: 0;

  align-items: flex-end;

  margin-right: 2vw;
  text-align: right;
}
