.player {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.player__picking-sign {
  position: absolute;
  height: 100%;
  width: 2%;
  background-color: gold;
}

.player__summoner-spells {
  display: flex;
  width: 10%;
  height: 100%;
  background-color: #fff;
}

.player__image {
  width: 20%;
  height: 80%;
  margin-right: 5%;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid transparent;
  background-size: cover;
  background-position-y: 100%;
  background-color: black;
}

.player__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  /* align items should vary on isFriendly or isEnemy Status */
}
