:root {
  --champion-select-width: 50%;
  --team-width: calc((100% - var(--champion-select-width)) / 2);
  --team-height: 60%;
  --champion-picker-color: rgb(136, 136, 125);
  --background-gold: rgba(215, 255, 0, 0.4);
  --champion-border-size: 3px;
  --top-section-height: 15%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.champion-select {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background: url('./Assets/Background.jpg') center center;
  background-size: cover;
  font-family: 'Timeless', 'Grandesign', Arial, Helvetica, sans-serif;
}

.champion-select::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.62;
}

.team {
  width: var(--team-width);
  height: 100%;
  position: relative;
  z-index: 1;
}

.champion-picker {
  position: relative;
  width: var(--champion-select-width);
  height: 100%;
  z-index: 1;
}
