.summoner-spells {
  width: 70%;
  height: 100%;
  margin: 0 auto;

  display: flex;
  background-color: black;
  position: relative;
}
.summoner-spells::before {
  content: '';
  position: absolute;
  left: -20%;
  top: 50%;
  transform: translate(20%, -50%);
  width: 15%;
  height: 5%;
  background-color: var(--background-gold);
}

.summoner-spells::after {
  content: '';
  position: absolute;
  right: -20%;
  top: 50%;
  transform: translate(-20%, -50%);
  width: 15%;
  height: 5%;
  background-color: var(--background-gold);
}
